<div class="card">
    <img card-img-top src="https://picsum.photos/ / 200 100">
    <p class="card-body"></p>
    <p class="card-title">producn 6666</p>
    <p>wrwnjgfoiesrjgqjg
    <p>fjgugugklfpt ejoreigjo erlrgj'psgpdob reiogjwpgjwprs</p>
    </p>
</div>