{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}
<div class="row">
    {{#each buttons}}
    <div class="column-flex">
        <a class="btn text-bg-primary col-3 m-2" href="{{link}}">{{name}}</a>
    </div>
    {{/each}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}