<div class="row">
    {{#with navigation}}
    <div class="col-6">
        <h1>Shop</h1>
    </div>
    <div class="col-6">
        <div class="nav">
            {{#each links}}
            <div class="nav-item">
                <a href="{{href}}" class="nav-link {{#if @last}}disabled{{/if}}">{{text}}</a>
            </div>
            {{/each}}
            <div class="nav-item">
            </div>
        </div>
    </div>
    {{/with}}
</div>