<footer>
    <div class="row g-5">
        {{#each footer}}
        <div class="nav col-2">
            <div>
                {{#each this}}
                <div>
                    <a class="nav-link
                    {{#if @last}} disabled {{/if}}" href="{{this.link}}">{{this.text}}</a>
                </div>
                {{/each}}
            </div>
        </div>
<<<<<<< HEAD




=======
        {{/each}}
    </div>
>>>>>>> abf77e85231c8faf38e1cd981625223e5e252e7b
</footer>