<div>
    <h2 class="container text-center mt-5">{{title}}</h2>
</div>

<div class="row g-3">
    {{#each cards}}
    <div class="col-3">
        <div class="card">
            <div class="card-body text-bg-dark">
                <h5 class="card-title">
                    {{title}}{{#if isTop}}<span class="badge rounded-pill text-bg-success">Нова</span>{{/if}}

                    {{#if idNew}}<span class="badge rounded-pill text-bg-danger">Топ</span>{{/if}}
                </h5>
                <p class="card-text">{{description}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>